
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
}
#intro{
    background-image:url(images/first.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    border-bottom-width: 125px;
    border-top-width: 125px;
    padding-top: 15%;
}
#aboutUs {
    text-align: center;
    color: black;
    font-size: small;
  }
  #services {
    background-image: url(images/second.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-size: small;
    
  }
  .hide{
    display:none;
  }
  .Hover {
    display: none;
  }

  .img-1:hover{
    background:green;
  }
  .whatWeDo{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: auto;
  }
  .heading{
    padding-bottom: 40px;
  }
  .whatWeDo .headings{

    padding-bottom: 38px;

  }
  #whatWeDoRowId{
    margin-left: 200px;
  }
  #Contact-Us{
    background-image: url(images/last.jpg);
    background-size: cover;
    text-align: center;
    color:white;
    padding-top: 5%;
    padding-bottom: 2%;
  }




  img:hover {
    display: block;
    background-color:white;
    /* color: black;
    font-size: 16px;
    padding: 16px 16px;
    opacity:1;
    position: ;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%;  */
  }
  .row{
    padding:2%;
  }
